body {
	background-color: black;
	color: white;
	font-family: 'Abril Fatface', cursive;
	font-size: 20px;
	
	line-height: 2;

}

h1 {
font-family: 'Creepster', cursive;
font-weight: 500;
font-size: 125px;
line-height: 1.5;
color: #1BABA8;
padding-bottom: 32px;
}

h2 {

	font-family: 'Fruktur', cursive;
	font-size: 70px;
	color: #E8944A;
	margin-left:-20px;
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari */
    transform: rotate(-20deg); 
}

.important {
	color: red;
}

.answerFormat {
	font-family: 'Fruktur', cursive;
	font-size: 50px;
	color: #E8944A;
}


#showCase {
	font-size: 30px;
}


#wrapper {
	border-style:solid;
	border-color: white;
	border-width: 2px;
	border-radius: 25px;
	/*border-style: groove;*/
}

#wrapperLeft{
	border: 1px;
	border-style:solid;
	border-color: white;
	border-right:none;


}


img { padding-top: 45px;
 height: 150px;}

@media screen and (max-width: 1000px) {

	#wrapperLeft {
		border-left:none;
	
.answerFormat {
	font-size: 25px;
	
	}